@layer nc {

nc-live-chat-author-badge-renderer {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

nc-live-chat-author-badge-renderer #image {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nc-live-chat-author-badge-renderer img {
  width: 36px;
  height: 36px;
  display: block;
}

nc-live-chat-author-badge-renderer svg {
  width: 36px;
  height: 36px;
  display: block;
}

}
