@layer lg {

lg-live-chat-renderer, lg-live-chat-item-list-renderer #item-scroller {
  height: 100%;
}

lg-live-chat-renderer ::-webkit-scrollbar {
  content: '';
}

lg-live-chat-renderer ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 53.3%, .2);
  border: 2px solid #fcfcfc;
  min-height: 30px;
}

lg-live-chat-renderer ::-webkit-scrollbar-track {
  background-color: #fcfcfc;
}

lg-live-chat-renderer {
  position: relative;
  background: transparent;
  color: var(--lg-live-chat-primary-text-color);
  overflow: hidden;
  z-index: 0;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

lg-live-chat-renderer[hide-timestamps] {
  --lg-live-chat-item-timestamp-display: none;
}

}
