<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">

    <script src="./js/vendor/lodash.min.js"></script>
    <script src="./js/vendor/vue.min.js"></script>
    <script src="./js/vendor/blcsdk.js"></script>

    <link rel="stylesheet" href="./css/liquid-glass/lg-html.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-icon.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-img-shadow.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-author-badge-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-author-chip.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-item-list-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-membership-item-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-paid-message-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-text-message-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-ticker-renderer.css">

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body>
    <!-- SVG Filter for Liquid Glass Effect -->
    <svg style="display: none">
      <filter
        id="glass-distortion"
        x="0%"
        y="0%"
        width="100%"
        height="100%"
        filterUnits="objectBoundingBox"
      >
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.001 0.005"
          numOctaves="1"
          seed="17"
          result="turbulence"
        />

        <feComponentTransfer in="turbulence" result="mapped">
          <feFuncR type="gamma" amplitude="1" exponent="10" offset="0.5" />
          <feFuncG type="gamma" amplitude="0" exponent="1" offset="0" />
          <feFuncB type="gamma" amplitude="0" exponent="1" offset="0.5" />
        </feComponentTransfer>

        <feGaussianBlur in="turbulence" stdDeviation="3" result="softMap" />

        <feSpecularLighting
          in="softMap"
          surfaceScale="5"
          specularConstant="1"
          specularExponent="100"
          lighting-color="white"
          result="specLight"
        >
          <fePointLight x="-200" y="-200" z="300" />
        </feSpecularLighting>

        <feComposite
          in="specLight"
          operator="arithmetic"
          k1="0"
          k2="1"
          k3="1"
          k4="0"
          result="litImage"
        />

        <feDisplacementMap
          in="SourceGraphic"
          in2="softMap"
          scale="200"
          xChannelSelector="R"
          yChannelSelector="G"
        />
      </filter>
    </svg>

    <div id="app">
      <chat-renderer
        ref="renderer" :max-number="config.maxNumber" :show-gift-name="config.showGiftName" :merge-gift="config.mergeGift"
      ></chat-renderer>
    </div>

    <script src="./js/ChatRenderer/constants.js"></script>
    <script src="./js/ChatRenderer/ImgShadow.js"></script>
    <script src="./js/ChatRenderer/AuthorBadge.js"></script>
    <script src="./js/ChatRenderer/AuthorChip.js"></script>
    <script src="./js/ChatRenderer/TextMessage.js"></script>
    <script src="./js/ChatRenderer/PaidMessage.js"></script>
    <script src="./js/ChatRenderer/MembershipItem.js"></script>
    <script src="./js/ChatRenderer/Ticker.js"></script>
    <script src="./js/ChatRenderer/index.js"></script>

    <script src="./js/main.js"></script>
  </body>
</html>
