<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">

    <script src="./js/vendor/lodash.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/vendor/blcsdk.js"></script>

    <link rel="stylesheet" href="./css/liquid-glass/lg-html.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-icon.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-img-shadow.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-author-badge-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-author-chip.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-item-list-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-membership-item-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-paid-message-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-text-message-renderer.css">
    <link rel="stylesheet" href="./css/liquid-glass/lg-live-chat-ticker-renderer.css">

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body>

    <div id="app">
      <chat-renderer
        ref="renderer" :max-number="config.maxNumber" :show-gift-name="config.showGiftName" :merge-gift="config.mergeGift"
      ></chat-renderer>
    </div>

    <!-- Liquid Glass Core -->
    <script src="./js/liquid-glass/type.js"></script>
    <script src="./js/liquid-glass/utils.js"></script>
    <script src="./js/liquid-glass/shader-util.js"></script>
    <script src="./js/liquid-glass/GlassFilter.js"></script>
    <script src="./js/liquid-glass/GlassContainer.js"></script>
    <script src="./js/liquid-glass/LiquidGlass.js"></script>

    <!-- ChatRenderer Components -->
    <script src="./js/ChatRenderer/constants.js"></script>
    <script src="./js/ChatRenderer/ImgShadow.js"></script>
    <script src="./js/ChatRenderer/AuthorBadge.js"></script>
    <script src="./js/ChatRenderer/AuthorChip.js"></script>
    <script src="./js/ChatRenderer/TextMessage.js"></script>
    <script src="./js/ChatRenderer/PaidMessage.js"></script>
    <script src="./js/ChatRenderer/MembershipItem.js"></script>
    <script src="./js/ChatRenderer/Ticker.js"></script>
    <script src="./js/ChatRenderer/index.js"></script>

    <script src="./js/main.js"></script>
  </body>
</html>
